.cart__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50vh;
  background-color: white;
  padding-bottom: 3rem;
  box-shadow: 0 0 5rem -2rem #555555;
  &-sum{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    box-sizing: border-box;
    padding: 0 calc(5% - 1.2rem);
    &-value{
      display: flex;
      font-size: 1.7rem;
      justify-self: flex-end;
      padding: 1rem 0;
    }
    &-button{
      display: flex;
      text-decoration: none;
      justify-content: center;
      font-size: 1rem;
      align-items: center;
      width: 155px;
      height: 52px;
      justify-self: flex-end;
      outline: none;
      border: 1px solid #979797;
      background-color: #D8D8D8;
      color: #4A4A4A;
    }
  }
}