h5 {
  display: flex;
  flex-shrink: 0;
  font-size: 1.5rem;
  margin-right: 2rem;
  margin-bottom: 0.7rem;
}

p {
  font-size: 1rem;
}

.payment {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50vh;
  background-color: white;
  @media (min-width: 768px) {
    padding: 7rem 10rem 3rem 10rem;
  }
  @media (max-width: 767px) {
    padding: 1rem;
  }
  box-shadow: 0 0 5rem -2rem #555555;
  margin: 0;
  &-form {
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px) {
      width: 50%;
    }
    @media (max-width: 1023px) {
      width: 80%;
      align-self: center;
    }
    &__section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 2rem;

      &--horizontal {
        @media (min-width: 768px) {
          display: inline-flex;
        }
        @media (max-width: 767px) {
          display: flex;
          flex-direction: column;
        }
        width: 100%;
        h5 {
          align-self: center;
          margin-bottom: 0;
        }
      }
      &-select {
        font-size: 1rem;
        width: 100%;
      }
      &-label {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        padding-top: 0.7rem;
      }
    }
  }
  &-submit-button {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    position: relative;
    width: 155px;
    height: 52px;
    margin: 0 0.5rem;
    justify-self: flex-end;
    outline: none;
    border: 1px solid #979797;
    background-color: #D8D8D8;
    color: #4A4A4A;
  }
}

