@mixin nth-children($points...) {
  @each $point in $points {
    &:nth-child(#{$point}) {
      @content;
    }
  }
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1)
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3)
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1)
  }
}

.cart-item {
  display: flex;
  padding: 0 5%;
  box-sizing: border-box;
  width: 100%;
  height: 14rem;
  align-items: center;
  border-bottom: 1px solid grey;
  &--loading {
    background-color: white;
  }
  &__image {
    display: flex;
    flex: 0 0;
    border-radius: 15px;
    height: 130px;
    min-width: 130px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5rem 1.8rem #bbbbbb;
    &-item {
      display: flex;
      height: 65%;
      border-radius: 15px;
      &--loading {
        height: 100%;
        width: 100%;
        background-color: grey;
        animation: pulse 1s infinite ease-in-out;
      }
    }
  }
  &__text {
    display: flex;
    width: 70%;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 5rem;
    height: 130px;
    justify-content: flex-start;
    h3 {
      font-size: 1.5rem;
      padding-bottom: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
    &--loading{
      h3 {
        height: 1.5rem;
        width: 40%;
        background-color: grey;
        padding-bottom: 1.5rem;
        animation: pulse 1s infinite ease-in-out;
      }
      p {
        height: 1rem;
        background-color: grey;
        @include nth-children(1, 5) {
          width: 90%;
          animation: pulse 1s infinite ease-in-out;
        }
        @include nth-children(2) {
          width: 70%;
          animation: pulse 1s infinite ease-in-out;
        }
        @include nth-children(3) {
          width: 45%;
          animation: pulse 1s infinite ease-in-out;
        }
        @include nth-children(4) {
          width: 30%;
          animation: pulse 1s infinite ease-in-out;
        }
      }
    }
  }
  &__events {
    display: flex;
    flex-shrink: 1;
    width: 30%;
    flex-direction: column;
    align-items: flex-end;
    height: 130px;
    border-left: 1px solid grey;
    &-delete {
      display: flex;
      width: 100%;
      &-img {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        cursor: pointer;
        img {
          height: 1.2rem;
          width: 1.2rem;
        }
      }
    }

    &-price {
      display: flex;
      position: relative;
      flex-direction: column;
      top: 2rem;
      align-self: center;
      width: 100%;
      box-sizing: border-box;
      padding-left: 2rem;
      justify-content: space-between;
      &-quantite {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        padding: 0 1rem;
        &-value {
          display: flex;
          padding: 0 1rem;
        }
        &-button {
          background-color: transparent;
          font-size: 1.5rem;
          color: grey;
          border: 1px solid grey;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2rem;
          height: 2rem;
          transition: all 0.3s ease-out;
          &:hover {
            background-color: aqua;
            color: white;
          }
          &--disable{
            background-color: #4A4A4A;
          }
        }
      }
      &-costs {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
      }
    }
  }
}