$tablet-width: 768px;
$desktop-width: 1024px;

@media (min-width: 1024px) {
  @import 'cart-item-desktop';
}

@media (min-width: 768px) and (max-width: 1023px) {
  @import 'cart-item-tablet';
}

@media (max-width: 767px) {
  @import 'cart-item-smartphone';
}