@mixin nth-children($points...) {
  @each $point in $points {
    &:nth-child(#{$point}) {
      @content;
    }
  }
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1)
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3)
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1)
  }
}

.cart-item {
  display: inline-flex;
  padding: 0 5%;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  border-bottom: 1px solid grey;
  &--loading {
    background-color: white;
  }
  &__image {
    display: flex;
    flex: 1 0;
    padding: 1%;
    max-height: 40%;
    min-width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    justify-content: center;
    box-shadow: 0 0.5rem 1.8rem #bbbbbb;
    order: 2;
    &-item {
      display: flex;
      min-height: 60px;
      &--loading {
        height: 100%;
        width: 100%;
        background-color: grey;
        animation: pulse 1s infinite ease-in-out;
      }
    }
  }
  &__text {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 130px;
    justify-content: flex-start;
    order: 1;
    h3 {
      font-size: 1.5rem;
      padding-bottom: 1.5rem;
      text-align: center;
    }
    p {
      font-size: 1rem;
    }
    &--loading{
      h3 {
        height: 1.5rem;
        width: 40%;
        background-color: grey;
        padding-bottom: 1.5rem;
        animation: pulse 1s infinite ease-in-out;
      }
      p {
        height: 1rem;
        background-color: grey;
        @include nth-children(1, 5) {
          width: 90%;
          animation: pulse 1s infinite ease-in-out;
        }
        @include nth-children(2) {
          width: 70%;
          animation: pulse 1s infinite ease-in-out;
        }
        @include nth-children(3) {
          width: 45%;
          animation: pulse 1s infinite ease-in-out;
        }
        @include nth-children(4) {
          width: 30%;
          animation: pulse 1s infinite ease-in-out;
        }
      }
    }
  }
  &__events {
    display: flex;
    flex: 1 1;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    order: 3;
    &-delete {
      display: flex;
      order: 5;
      &-img {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        cursor: pointer;
        img {
          height: 1.2rem;
          width: 1.2rem;
        }
      }
    }
    &-price {
      display: flex;
      position: relative;
      align-self: center;
      box-sizing: border-box;
      justify-content: space-around;
      order: 4;
      &-quantite {
        display: flex;
        justify-content: space-around;

        align-items: center;
        font-size: 1.5rem;
        padding: 0 1rem;
        &-value {
          display: flex;
          padding: 0 1rem;
        }
        &-button {
          background-color: transparent;
          font-size: 1.5rem;
          color: grey;
          border: 1px solid grey;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2rem;
          height: 2rem;
          transition: all 0.3s ease-out;
          &:hover {
            background-color: greenyellow;
            color: white;
          }
          &--disable{
            background-color: #4A4A4A;
          }
        }
      }
      &-costs {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
      }
    }
  }
}