body{
  font-size: 62.5%;
  margin: 0;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
  padding: 0;
}

button{
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #E2393E;
  &__background {
    display: flex;
    position: absolute;
    width: 100%;
    min-height: 70vh;
    background-color: white;
    z-index: 0;
  }
  &__components {
    display: flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    z-index: 0;
    @media (min-width: 1024px) {
      padding: 7rem 0 15rem 5rem;
    }
    @media (max-width: 1023px) {
      padding: 0;
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    position: relative;
    @media (min-width: 768px) {
      padding-top: 7rem;
      font-size: 3.5rem;
    }
    @media (max-width: 767px) {
      padding-top: 2rem;
      font-size: 2rem;
    }
    &:after{
      display: flex;
      content: ".";
      color: #E2393E;
    }
  }
  &__logo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    &-img{
      display: flex;
      height: 3rem;
    }
    &-text{
      display: flex;
      margin: 0;
      font-size: 2rem;
    }
  }
}