%input{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 50%);;
  color: hsl(0, 0%, 50%);
}

.shipping {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50vh;
  background-color: white;
  padding-bottom: 3rem;
  box-shadow: 0 0 5rem -2rem #555555;
  font-size: 1rem;
  &__form {
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px) {
      padding-left: 100px;
      padding-top: 70px;
      width: 30%;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      padding-left: 50px;
      padding-top: 35px;
      width: 70%;
    }
    @media (max-width: 767px) {
      width: 100%;
      padding-top: 10px;
    }
    position: relative;
    align-items: flex-end;
    &-label {
      display: flex;
      position: relative;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 0.5rem 0.5rem;
      &-group {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 1rem;
        width: 60%;
        &-icon {
          display: flex;
          align-items: center;
          width: 100%;
          box-sizing: border-box;
          position: relative;
          &:before {
            display: flex;
            position: absolute;
            padding-left: 8px;
            font-size: 0.9rem;
            color: hsl(0, 0%, 50%);
            justify-content: center;
            content: '+48';
            z-index: 1;
          }
          &-input {
            display: flex;
            width: 100%;
            box-sizing: border-box;
            text-indent: 2rem;
            border-radius: 4px;
            border: 1px solid hsl(0, 0%, 50%);
            color: hsl(0, 0%, 50%);
            padding: 10px 0;
            position: relative;
            &-invalid{
              border-color: #E2393E;
            }
          }
        }
        &-input {
          @extend %input;
          padding: 10px 8px;
          position: relative;
          &-invalid{
            border-color: #E2393E;
          }
        }
        &-error {
          display: flex;
          padding: 0.4rem 0;
          font-size: 0.8em;
          color: #E2393E;
          width: 100%;
          position: absolute;
          transform: translateY(100%);
          bottom: 0;
        }
      }
    }
    &-submit {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 155px;
      height: 52px;
      margin: 0 0.5rem;
      justify-self: flex-end;
      outline: none;
      border: 1px solid #979797;
      background-color: #D8D8D8;
      color: #4A4A4A;
    }
  }
}